/.classpath
/.gradle
/.idea
/.project
/.settings
.directory

/gradle
/gradlew
/gradlew.bat

/tedi.iml
/tedi.ipr
/tedi.iws

build
out
/tedi-core/build
/tedi-core/out
/demo/build
/demo/out
/example/build
/example/out
