.tedi-area {
    /*-fx-font-family: 'monospace';*/
    -fx-font-size: 30;
}

.tedi-area .gutter {
    -fx-padding: 0 4 0 10; /* Note. top and bottom are ignored */
    -fx-background-color: #eeeeee;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 1 0 0;
    -fx-text-fill: #888888;
}

/*
 * This is copied from modena.css, only I've changed text-input to tedi-area.
 * I don't know why I need this, because tedi-area DOES have a styleClass of text-input.
 * In fact, even if I use .text-input:focuses is works, however, if I leave this out,
 * then the dark blue outline does not appear.
 * (Only the faint blue outline of the .content appears.)
 * Weird.
 */
.tedi-area:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
}

/***** For the ui package (go to line dialog, and search/replace toolbars) *****/

.tedi-form {
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment:  center;
    -fx-fill-height: true;
}

.tedi-buttons {
    -fx-alignment: center-right;
    -fx-padding: 10px;
    -fx-hgap: 10px;
}

.tedi-buttons .button {
    -fx-min-width: 80px;
}

.tedi-search-bar .match-case,
.tedi-search-bar .match-regex {
    -fx-padding: 0 16 0 0;
}
.tedi-search-bar .match-words {
    -fx-padding: 0 4 0 0;
}
