.tedi-area .content {
    -fx-padding: 4 10;
}

.tedi-area.code {
    -fx-font-family: 'monospace';
    -fx-display-line-numbers: true;
}

.tedi-area .gutter {
    -fx-padding: 4 4 4 10; /* Note the top MUST be the same as .tedi-area .content for correct alignment. */
    -fx-background-color: #eeeeee;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 1 0 0;
    -fx-text-fill: gray;
    -fx-highlight-text-fill: gray; /* For the current line */
    -fx-highlight-fill: #fff8f8; /* For the current line */
}

/*
 * This is copied from modena.css.
 * I don't know why I need this, but if I leave it out,
 * then the dark blue outline does not appear around TediArea.
 * Only the faint blue outline of the .content appears.
 * Maybe the theme that I'm using doesn't have that, as TextArea doesn't seem to show it either. Hmm.
 */
.tedi-area:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
}

/***** A default colour scene for syntax highlighting *****/

.tedi-area .content .syntax-keyword { -fx-fill: #000088; -fx-font-weight: bold; }
.tedi-area .content .syntax-softKeyword { -fx-fill: #000088; -fx-font-weight: bold; }
.tedi-area .content .syntax-modifier { -fx-fill: #000088; -fx-font-weight: bold; }
.tedi-area .content .syntax-string { -fx-fill: #008000; -fx-font-weight: bold; }
.tedi-area .content .syntax-comment { -fx-fill: #808080; -fx-font-style: italic; }
.tedi-area .content .syntax-annotation { -fx-fill: #808000; }
.tedi-area .content .syntax-paren { -fx-fill: #cc33cc; }
.tedi-area .content .syntax-brace { -fx-fill: #33cccc; }
.tedi-area .content .syntax-bracket { -fx-fill: #ddaa00; }
.tedi-area .content .syntax-semicolon { -fx-fill: #997799; }
.tedi-area .content .syntax-number { -fx-fill: #0000ff; }

/***** For the ui package (go to line dialog, and find/replace toolbars) *****/

.tedi-form {
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment:  center;
    -fx-fill-height: true;
}

.tedi-buttons {
    -fx-alignment: center-right;
    -fx-padding: 10px;
    -fx-hgap: 10px;
}

.tedi-buttons .button {
    -fx-min-width: 80px;
}

.tedi-find-bar .match-case,
.tedi-find-bar .match-regex {
    -fx-padding: 0 16 0 0;
}
.tedi-find-bar .match-words {
    -fx-padding: 0 4 0 0;
}
