.tedi-area {
    -fx-current-line-fill: #fffae3;
}

.tedi-area .content {
    -fx-padding: 6 10;
}
.tedi-area .gutter {
    -fx-background-color: #eee;
    -fx-border-color: #ccc;
    -fx-border-width: 0 1 0 0;
    -fx-font-family: 'monospace';
    -fx-text-fill: #a0a0a0;
}

.tedi-area .gutter .line-number {
    -fx-padding: 0 8 0 4;
}

.tedi-area.code {
    -fx-font-family: 'monospace';
}

.virtual-view .corner {
    -fx-background-color: derive(-fx-base,-1%);
}

/***** A default colour scheme for syntax highlighting *****/

.tedi-area .content .syntax-keyword { -fx-fill: #008; -fx-font-weight: bold;}
.tedi-area .content .syntax-softKeyword { -fx-fill: #008; -fx-font-weight: bold;}
.tedi-area .content .syntax-modifier { -fx-fill: #008; -fx-font-weight: bold;}

.tedi-area .content .syntax-string { -fx-fill: #080; -fx-font-weight: bold; }
.tedi-area .content .syntax-string-exp { -fx-fill: black; -fx-underline: true; }
.tedi-area .content .syntax-comment { -fx-fill: #888; -fx-font-style: italic; }
.tedi-area .content .syntax-command { -fx-fill: #808; -fx-font-weight: bold; }
.tedi-area .content .syntax-annotation { -fx-fill: #880; }
.tedi-area .content .syntax-paren { -fx-fill: #c3c; }
.tedi-area .content .syntax-brace { -fx-fill: #3cc; }
.tedi-area .content .syntax-bracket { -fx-fill: #da0; }
.tedi-area .content .syntax-semicolon { -fx-fill: #979; }
.tedi-area .content .syntax-number { -fx-fill: #00f; }

.tedi-area .content .rectangle.syntax-pair { -fx-fill: #9cf; }
.tedi-area .content .text.syntax-pair { -fx-fill:black; }

.tedi-area .content .rectangle.syntax-error { -fx-fill: #f99; }
.tedi-area .content .text.syntax-error { -fx-fill: #800; }

/***** See HighlightIdenticalWords class *****/

.tedi-area .content .rectangle.word-matching { -fx-fill: #ffe4ff; }
.tedi-area .content .text.word-matching { -fx-fill:black; }

.tedi-area .content .rectangle.word-matched { -fx-fill: #e4e4ff; }
.tedi-area .content .text.word-matched { -fx-fill:black; }


/***** For the ui package (go to line dialog, and find/replace toolbars) *****/

.tedi-form {
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment:  center;
    -fx-fill-height: true;
}

.tedi-buttons {
    -fx-alignment: center-right;
    -fx-padding: 10px;
    -fx-hgap: 10px;
}

.tedi-buttons .button {
    -fx-min-width: 80px;
}

.tedi-find-bar .match-case,
.tedi-find-bar .match-regex {
    -fx-padding: 0 16 0 0;
}
.tedi-find-bar .match-words {
    -fx-padding: 0 4 0 0;
}
